body{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background: #373b40;
    letter-spacing: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.contanier{
    position: relative;
    margin: 0;
    overflow: hidden;
}
.color1{
    color: #68e0cf;
}
header{
    padding: 0 0 0 50px;
    position: fixed;
    left: 50px;
    right: 50px;
    top: 40px;
    height: 80px;
    z-index: 100;
    background: #585d65;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -khtml-border-radius: 80px;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    -moz-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    -o-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    max-width: 1280px;
    /*width: 100%;*/
    margin: 0 auto;
    font-family: 'Poppins-Bold';

}
header .top-menu {
    margin-right: 50px;
    float: right;
}
header .top-menu a{
    color: #fff;
}
.menu{
    list-style-type: none;
    display: flex;
    height: 80px;
    align-items: center;
}
header .logo{
    position: relative;
    float: left;
    width: 200px;
    height: 80px;
    display: flex;
    line-height: 1.2;
    font-weight: 800;
    color: #FFF;
    align-items: center;
    font-family: 'Poppins-Bold';
}
header .top-menu ul li {
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
/*.nav-item{
    margin-right: 5%;
}*/
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.wapper{
    margin-top: 8%;
    width: 100%;
    max-width: 900px;
    margin-left: 45%;
}
.left_bg_img{
    width: 45%;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
}
.slider_img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section{
    position: relative;
     overflow: hidden; 
     padding-left: 8%; 
     padding-right: 8%; 
     padding-top: 70px; 
     padding-bottom: 70px; 
     border-bottom: 1px solid #585d65; 
    z-index: 12;
}
.started{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    position: relative;
    overflow: visible;
    /*height: 50vh;*/
    z-index: 11;
}
.full-width{
    display: table !important;
     table-layout: fixed !important; 
    height: 100% !important;
    position: relative !important;
    top: 0;
    left: 0;
    z-index: 2;
}
.vertical-center{
    vertical-align: middle;
    display: table-cell;
}
.heading_name{
    margin: 20% 0 0 -33%;
    padding: 60px;
    font-size: 50pt;
    line-height: 1.2;
    font-weight: 800;
    color: #FFF;
    background: #373b40;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    border-radius: 264px;
    -moz-border-radius: 264px;
    -webkit-border-radius: 264px;
}
.started_description{
    max-width: 500px;
    padding-left: 10%;
}
.started_description .sub_title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15pt;
}
.started_description .des_text{
    font-size: 12pt;
}
.color1{
    color: #68e0cf;
}
.contact_btn{
    padding: 20px 40px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    display: inline-block;
    font-size: 13pt;
    color: #ffffff;
}
.about .content{
    max-width: 700px;
    width: 100%;
}
.section .title{
    margin-bottom: 10px;
    max-width: 70%;
    font-size: 55px;
    line-height: 1.2;
    color: #FFF;
    font-weight: 800;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.section .subtitle{
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.detail-list ul{
    list-style: none;
    margin: 0 -20px;
    padding: 0;
    font-size: 0;
}
.detail-list ul li{
    margin: 0 0 6px 0;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
}
.detail-list ul li span{

    display: inline-block;
    vertical-align: top;
    width: 90px;
    font-weight: 600;
    text-transform: uppercase;
    color: #68e0cf;
}