body{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    min-height: 2000px;
    transition: all 1s ease-in-out;
}
body.active {
    background: #092545;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100px;
    z-index: 999;
    width: 100%;
    background: none;
    overflow: hidden;
    background: #FFF;
    padding: 35px;
    transition: all ease 0.5s;
}
.header_section ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 17px;
    margin-right: 3%;
    cursor: pointer;
}

.header_section ul li:nth-child(1){
    color: #2d6ae3;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
}

.me_section{
    margin-top: 13%;
}
.exp_section,.education_section{
    margin-top: 10%;
}

.showcase_section{
    margin-top: 10%;
}

.me_content h1,.exp_content h1,.showcase_content h1{
    font-size: 80px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(left, #f15b74, #ff6021);
    background-image: -moz-linear-gradient(left, #f15b74, #ff6021);
    background-image: -ms-linear-gradient(left, #f15b74, #ff6021);
    background-image: -o-linear-gradient(left, #f15b74, #ff6021);
    background-image: linear-gradient(to bottom, #f15b74, #ff6021);
    color: transparent;
    -webkit-background-clip: text;
}
#typed{
    display: inline;
}
.blinktext{
    height: 30px;
    font-weight: bold;
}
.dot::after{
    font-size: 60px;
    content: ".";
    line-height: 0px;
}
.discrption{
    max-width: 540px;
    font-size: 20px;
    letter-spacing: 0.9px;
}
.exp_content h3{
    font-size: 30px;
    font-weight: bold;
}

.exp_part{
    border-bottom: 1px solid #000;
    max-width: 380px;
}
.exp_part span{
    font-weight: bold;
    font-size: 20px;
}
.exp_part p{
    font-weight: 600;
}
.ml-8{
    margin-left: 20%;
}
.ml-10{
    margin-left: 25%;
}


img {
  max-width: 100%;
}



.card {
  position: relative;
  background: #333;
  width: 400px;
  margin: 0 auto;
  height: auto;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}
.card__line {
  opacity: 0;
  animation: LineFadeIn .8s .8s forwards ease-in;
}
.card__image {
  opacity: 0;
  animation: ImageFadeIn .8s 1.4s forwards;
}
.card__title {
  color: white;
  margin-top: 0;
  font-weight: 800;
  letter-spacing: 0.01em;
}
.card__content {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn .8s 1.6s forwards;
}
.card__svg {
  position: absolute;
  left: 0;
  top: 115px;
}

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF;
  }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581;
  }
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
.card__image{
    width: 400px;
  height: 300px;
  overflow: hidden;
}

.card__image{
    transition: 0.3s;
}

.card__image:hover{
    -webkit-transform: scale(2.08);
  transform: scale(2.08);
}

.cardcolor1{
    background-color: #2a6ef0;
    color: #fff;
}
.cardcolor2{
    background-color: #7E44E1;
    color: #fff;
}
.showcase_part{
    overflow: hidden;
    cursor: pointer;
}
.showcase_part p{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}
.showcase_part h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10%;
}
.s_p1{
    margin-top: 15%;
}
.s_p2{
    margin-top: -3%;
}

.showcase_part img{
    /*width: 100%; */
    transition: 0.5s all ease-in-out; 
} 
      
.showcase_part:hover img{ 
    transform: scale(1.1); 
} 
.email_section{
    margin-top: 10%;
}
.email_part{
    background: #f35b68;
    background: -moz-linear-gradient(top, #f35b68 1%, #fe5f29 100%);
    background: -webkit-linear-gradient(top, #f35b68 1%,#fe5f29 100%);
    background: linear-gradient(to bottom, #f35b68 1%,#fe5f29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f35b68', endColorstr='#fe5f29',GradientType=0 );
    color: #fff;
    padding: 9% 15%;
    min-height: 340px;
}
.email_part p{
    font-size: 20px;
}
.email_part h1{
    font-size: 60px;
    font-weight: bold;
    word-break: break-all;
}
.email_part a{
    color: #fff;
    /*text-decoration: none;*/
}

.linkdin_part{
    padding: 20% 15%;
    margin-top: 5%;
    margin-left: -5%;
    min-height: 500px;
    font-size: 17px;
    text-align: center;
}
.linkdin_part p{
    max-width: 280px;
    margin: 0 auto;
    font-size: 20px;
}

.linkdin_part::before{
    content: "";
    background-color: #e7edf2;
    min-height: 360px;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: -40px;
    top: 40px;
    transform: rotate(-2deg);
}
.linkdin_part p:nth-child(2){
    font-size: 50px;
}
.linkdin_part p:nth-child(3){
    font-size: 15px;
    max-width: 160px;
    color: #8FA7B6;
}

.text_wrap{
    position: absolute;
    top: 42%;
    text-align: center;
    left: 0;
    right: 0;
    padding: 50px;
    margin-top: -160px;
}



/*button styles*/


.btn7 {
    box-shadow: inset 000px 0px 0px 0px #6098FF;
  -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
  transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
}

.btn7::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    background: #80ffd3;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}

.btn7:hover::before {
    opacity: 1;
    height: 100%;
}

.btn7:hover {
    box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;
}

.bar-anchor{
  padding: 20px 10px;
  margin:10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
   overflow:hidden;
/*    border:1px solid #6098FF; */
}
.bar-anchor span{
  background:#00002E;
  width:100%;
  position:relative;
  padding:10px 70px;
   -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
/*   border:1px solid #6098FF;  */
}
.transition-bar{
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background: #80ffd3;
    z-index:-1;
/*     -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg); */
}
.bar-anchor:hover span{
  color: #80ffd3!important;
}
.bar-anchor:hover .transition-bar{
  width:120%;
  left:110%;
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}


/*.btn_hover {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn_hover span {
  position: relative;
  z-index: 1;
}

.btn_hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_hover:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}*/
